$spacing: ( 'xxs': 4px, 'xs': 8px, 's': 16px, 'm': 24px, 'l': 48px, 'xl': 96px);
$border-radius: 4px;
$border-color: #dbdbdb;
$background-grey-color: rgba(0, 0, 0, 0.02);
$font: ( 'xxs': 4px, 'xs': 8px, 's': 12px, 'm': 14px, 'l': 24px, 'xl': 48px);
$primary-color: #3498db;
$secondary-color: #8e44ad;
$white-text: #ffffff;
$btn-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);